--
-- PostgreSQL database dump
--

\restrict PVcv3ohhhCVgT8BYwtAUn1SvGBgOoCX2ADUfZdeXrwJ0YezheUVMh53koQ88fRC

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_generation_logs; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.ai_generation_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    scenario character varying(255) NOT NULL,
    language character varying(10),
    prompt text,
    generated_subject text,
    generated_body text,
    generated_by character varying(255) NOT NULL,
    approved_by character varying(255),
    approved boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    approved_at timestamp without time zone,
    body_text text,
    landing_page_html text,
    red_flags text,
    sender_name text,
    sender_domain text,
    awareness_page_html text
);


ALTER TABLE public.ai_generation_logs OWNER TO phishsim;

--
-- Name: COLUMN ai_generation_logs.landing_page_html; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.ai_generation_logs.landing_page_html IS 'Page de connexion + awareness g├®n├®r├®e par l''IA (Week 6)';


--
-- Name: COLUMN ai_generation_logs.red_flags; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.ai_generation_logs.red_flags IS 'Drapeaux rouges g├®n├®r├®s par l''IA (Week 6)';


--
-- Name: COLUMN ai_generation_logs.sender_name; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.ai_generation_logs.sender_name IS 'Nom de l''exp├®diteur fictif g├®n├®r├® par l''IA (Week 6)';


--
-- Name: COLUMN ai_generation_logs.sender_domain; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.ai_generation_logs.sender_domain IS 'Domaine fictif g├®n├®r├® par l''IA (Week 6)';


--
-- Name: COLUMN ai_generation_logs.awareness_page_html; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.ai_generation_logs.awareness_page_html IS 'Page de sensibilisation g├®n├®r├®e par l''IA (Week 6) - s├®par├®e de la landing page';


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    action character varying(50) NOT NULL,
    actor character varying(255) NOT NULL,
    target character varying(255),
    details text,
    previous_hash text NOT NULL,
    hash text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_logs OWNER TO phishsim;

--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.campaigns (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    template_id uuid,
    target_group_id uuid,
    sender_email character varying(255),
    status character varying(50) DEFAULT 'DRAFT'::character varying,
    authorized_by uuid,
    created_by uuid,
    scheduled_at timestamp without time zone,
    created_at timestamp without time zone,
    sender_profile_id uuid,
    dry_run boolean DEFAULT false,
    dry_run_email character varying(255),
    throttle_seconds integer DEFAULT 5,
    ai_generation_id uuid,
    custom_subject text,
    custom_body_html text,
    custom_body_text text,
    allow_list text
);


ALTER TABLE public.campaigns OWNER TO phishsim;

--
-- Name: COLUMN campaigns.ai_generation_id; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.campaigns.ai_generation_id IS 'R├®f├®rence au draft IA approuv├® (AiGenerationLog)';


--
-- Name: COLUMN campaigns.custom_subject; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.campaigns.custom_subject IS 'Sujet de l''email g├®n├®r├® par l''IA';


--
-- Name: COLUMN campaigns.custom_body_html; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.campaigns.custom_body_html IS 'Corps HTML de l''email g├®n├®r├® par l''IA';


--
-- Name: COLUMN campaigns.custom_body_text; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.campaigns.custom_body_text IS 'Corps texte de l''email g├®n├®r├® par l''IA';


--
-- Name: COLUMN campaigns.allow_list; Type: COMMENT; Schema: public; Owner: phishsim
--

COMMENT ON COLUMN public.campaigns.allow_list IS 'Liste d''emails autoris├®s ';


--
-- Name: email_templates; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.email_templates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    subject character varying(255) NOT NULL,
    body_html text,
    status character varying(50) DEFAULT 'DRAFT'::character varying,
    approved_by uuid,
    body_text text,
    is_html boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.email_templates OWNER TO phishsim;

--
-- Name: encryption_keys; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.encryption_keys (
    id character varying(50) NOT NULL,
    key_value text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.encryption_keys OWNER TO phishsim;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO phishsim;

--
-- Name: operators; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.operators (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    mfa_enabled boolean DEFAULT false,
    role character varying(50) DEFAULT 'OPERATOR'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone,
    first_name character varying(100),
    last_name character varying(100),
    phone character varying(20),
    birth_date date,
    totp_secret character varying(255)
);


ALTER TABLE public.operators OWNER TO phishsim;

--
-- Name: send_events; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.send_events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    campaign_id uuid,
    target_id uuid,
    tracking_token character varying(255) NOT NULL,
    status character varying(50) DEFAULT 'PENDING'::character varying,
    sent_at timestamp without time zone,
    delivered boolean DEFAULT false
);


ALTER TABLE public.send_events OWNER TO phishsim;

--
-- Name: sender_profiles; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.sender_profiles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    from_name character varying(255) NOT NULL,
    from_email character varying(255) NOT NULL,
    reply_to character varying(255),
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sender_profiles OWNER TO phishsim;

--
-- Name: target_groups; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.target_groups (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    created_by uuid
);


ALTER TABLE public.target_groups OWNER TO phishsim;

--
-- Name: targets; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.targets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    group_id uuid
);


ALTER TABLE public.targets OWNER TO phishsim;

--
-- Name: tracking_events; Type: TABLE; Schema: public; Owner: phishsim
--

CREATE TABLE public.tracking_events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    send_event_id uuid,
    event_type character varying(50) NOT NULL,
    occurred_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_agent text,
    ip_hash character varying(255)
);


ALTER TABLE public.tracking_events OWNER TO phishsim;

--
-- Data for Name: ai_generation_logs; Type: TABLE DATA; Schema: public; Owner: phishsim
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: phishsim
--



--
-- Data for Name: campaigns; Type: TABLE DATA; Schema: public; Owner: phishsim
--



--
-- Data for Name: email_templates; Type: TABLE DATA; Schema: public; Owner: phishsim
--



--
-- Data for Name: encryption_keys; Type: TABLE DATA; Schema: public; Owner: phishsim
--

COPY public.encryption_keys (id, key_value, created_at) FROM stdin;
totp_encryption_key	phishsim-encryption-key-2026	2026-08-06 10:53:26.098039
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: phishsim
--



--
-- Data for Name: operators; Type: TABLE DATA; Schema: public; Owner: phishsim
--



--
-- Data for Name: send_events; Type: TABLE DATA; Schema: public; Owner: phishsim
--



--
-- Data for Name: sender_profiles; Type: TABLE DATA; Schema: public; Owner: phishsim
--

COPY public.sender_profiles (id, name, from_name, from_email, reply_to, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: target_groups; Type: TABLE DATA; Schema: public; Owner: phishsim
--

COPY public.target_groups (id, name, created_by) FROM stdin;
81ab4cad-1266-42ef-9347-9f7de4acc59f	Test Equipe RH	\N
2be6ec10-e5bd-447b-8988-431e10c55629	Test Equipe IT	\N
\.


--
-- Data for Name: targets; Type: TABLE DATA; Schema: public; Owner: phishsim
--



--
-- Data for Name: tracking_events; Type: TABLE DATA; Schema: public; Owner: phishsim
--



--
-- Name: ai_generation_logs ai_generation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.ai_generation_logs
    ADD CONSTRAINT ai_generation_logs_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: email_templates email_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.email_templates
    ADD CONSTRAINT email_templates_pkey PRIMARY KEY (id);


--
-- Name: encryption_keys encryption_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.encryption_keys
    ADD CONSTRAINT encryption_keys_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: operators operators_email_key; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.operators
    ADD CONSTRAINT operators_email_key UNIQUE (email);


--
-- Name: operators operators_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.operators
    ADD CONSTRAINT operators_pkey PRIMARY KEY (id);


--
-- Name: send_events send_events_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.send_events
    ADD CONSTRAINT send_events_pkey PRIMARY KEY (id);


--
-- Name: send_events send_events_tracking_token_key; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.send_events
    ADD CONSTRAINT send_events_tracking_token_key UNIQUE (tracking_token);


--
-- Name: sender_profiles sender_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.sender_profiles
    ADD CONSTRAINT sender_profiles_pkey PRIMARY KEY (id);


--
-- Name: target_groups target_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.target_groups
    ADD CONSTRAINT target_groups_pkey PRIMARY KEY (id);


--
-- Name: targets targets_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.targets
    ADD CONSTRAINT targets_pkey PRIMARY KEY (id);


--
-- Name: tracking_events tracking_events_pkey; Type: CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.tracking_events
    ADD CONSTRAINT tracking_events_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: phishsim
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_ai_logs_approved; Type: INDEX; Schema: public; Owner: phishsim
--

CREATE INDEX idx_ai_logs_approved ON public.ai_generation_logs USING btree (approved);


--
-- Name: idx_ai_logs_generated_by; Type: INDEX; Schema: public; Owner: phishsim
--

CREATE INDEX idx_ai_logs_generated_by ON public.ai_generation_logs USING btree (generated_by);


--
-- Name: idx_ai_logs_scenario; Type: INDEX; Schema: public; Owner: phishsim
--

CREATE INDEX idx_ai_logs_scenario ON public.ai_generation_logs USING btree (scenario);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: phishsim
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_actor; Type: INDEX; Schema: public; Owner: phishsim
--

CREATE INDEX idx_audit_logs_actor ON public.audit_logs USING btree (actor);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: phishsim
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at);


--
-- Name: idx_audit_logs_target; Type: INDEX; Schema: public; Owner: phishsim
--

CREATE INDEX idx_audit_logs_target ON public.audit_logs USING btree (target);


--
-- Name: idx_campaigns_ai_generation_id; Type: INDEX; Schema: public; Owner: phishsim
--

CREATE INDEX idx_campaigns_ai_generation_id ON public.campaigns USING btree (ai_generation_id);


--
-- Name: campaigns campaigns_authorized_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_authorized_by_fkey FOREIGN KEY (authorized_by) REFERENCES public.operators(id);


--
-- Name: campaigns campaigns_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.operators(id);


--
-- Name: campaigns campaigns_sender_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_sender_profile_id_fkey FOREIGN KEY (sender_profile_id) REFERENCES public.sender_profiles(id);


--
-- Name: campaigns campaigns_target_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_target_group_id_fkey FOREIGN KEY (target_group_id) REFERENCES public.target_groups(id);


--
-- Name: campaigns campaigns_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.email_templates(id);


--
-- Name: email_templates email_templates_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.email_templates
    ADD CONSTRAINT email_templates_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.operators(id);


--
-- Name: send_events send_events_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.send_events
    ADD CONSTRAINT send_events_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id);


--
-- Name: send_events send_events_target_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.send_events
    ADD CONSTRAINT send_events_target_id_fkey FOREIGN KEY (target_id) REFERENCES public.targets(id);


--
-- Name: sender_profiles sender_profiles_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.sender_profiles
    ADD CONSTRAINT sender_profiles_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.operators(id);


--
-- Name: target_groups target_groups_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.target_groups
    ADD CONSTRAINT target_groups_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.operators(id);


--
-- Name: targets targets_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.targets
    ADD CONSTRAINT targets_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.target_groups(id);


--
-- Name: tracking_events tracking_events_send_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: phishsim
--

ALTER TABLE ONLY public.tracking_events
    ADD CONSTRAINT tracking_events_send_event_id_fkey FOREIGN KEY (send_event_id) REFERENCES public.send_events(id);


--
-- PostgreSQL database dump complete
--

\unrestrict PVcv3ohhhCVgT8BYwtAUn1SvGBgOoCX2ADUfZdeXrwJ0YezheUVMh53koQ88fRC

